<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183930650699-kaj22oc0ckako3d7a444roulirkfeehm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183930650699-kaj22oc0ckako3d7a444roulirkfeehm</string>
	<key>API_KEY</key>
	<string>AIzaSyAaBuIJIo6RmJH-GNlNstrj81HCrWc-CrY</string>
	<key>GCM_SENDER_ID</key>
	<string>183930650699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TaxiParcel.nextdaysoft</string>
	<key>PROJECT_ID</key>
	<string>delx-test</string>
	<key>STORAGE_BUCKET</key>
	<string>delx-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183930650699:ios:d46c59ea0d3c64080d4dce</string>
	<key>DATABASE_URL</key>
	<string>https://delx-test.firebaseio.com</string>
</dict>
</plist>